*{
    margin: 0;
    padding: 0;
}
.pagehead{
    background-color: #1B1A42;
    color: white;
    display: flex;
    justify-content: space-around;
}

.logohead{
    width: 10%;
}

.header_list_item_escola{
    display: inline-block;
    margin: 0 16px;
    padding: 40px 0;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    color: #EC271B;
}

.header_list_item_conhecer{
    display: inline-block;
    margin: 0 16px;
    padding: 40px 0;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
}

.pagetitle{
    padding: 40px 0;
    color:#A01010;
    -webkit-text-stroke: 1px white;
    
}

.teacher_image{
    width: 20%;
}

.escola{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 200px 0;
}

.escola_div_content{
    width: 35%;
}

.escola_title{
    padding: 24px 0;
    font-family: 'K2D', sans-serif;
    text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
}

.contato_escola{
    padding: 24px 0;
    font-family: 'K2D', sans-serif;
    text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
    font-size: 24px;
}


.escola_section {
    background-image: linear-gradient(#252467,#BF2828);
}

.escola_text {
    font-family: 'Inter', sans-serif;
}

.escola_endereco {
    font-family: 'Inter', sans-serif;
}

.escola_telefone {
    font-family: 'Inter', sans-serif;
}
